
@{
    ViewData["Title"] = "About";
}


<head>

<title>HTML</title>

</head>
<body>
  <div class="Aboutus">
    <h1> About Us </h1>
	<div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="~/lib/educationBanner.jpg" width="300" height="500">
            </div>
        </div>
    </div>
	<p>Our mission is to empower young Students to be the inventors and creators.</p>
	<hr>
	<p>In a world where so much is being done for technology and so little for the environment, education is not even a part of most discussions.</p>
    <p>We at Studytonight believe that by widening the reach of education, by making it freely available, so much can be achieved.</p>
    <p>And this journey started in 2013 when a young boy thought "wouldn't it be great, to have a website, with simple tutorials for programming languages, just like a friend would teach you!", and Studytonight was born.</p>
   <h3> follow us on </h3>
   <a href="#" class="fa fa-facebook"></a> 
   <a href="#" class="fa fa-twitter"></a> 
   <a href="#" class="fa fa-linkedin"></a> 
  </div>
</body>



